<nav class="navbar navbar-default">
	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
				aria-expanded="false" onmouseover="">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
			<!--<a class="navbar-brand">{{title}}</a>-->
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li><a href="#">{{title}}</a></li>
                <li><a href="#intro" [routerLink]="['/intro']" [routerLinkActive]="['active']">{{tab1}}</a></li>
				<li><a href="#skills" [routerLink]="['/skills']" [routerLinkActive]="['active']">{{tab2}}</a></li>
				<li><a href="#portfolio" [routerLink]="['/portfolio']" [routerLinkActive]="['active']">{{tab3}}</a></li>
				<li><a href="#about" [routerLink]="['/about']" [routerLinkActive]="['active']">{{tab4}}</a></li>
				<li><a href="#contact" [routerLink]="['/contact']" [routerLinkActive]="['active']">{{tab5}}</a></li>
				<li><a href="#settings" [routerLink]="['/settings']" [routerLinkActive]="['active']">{{tab6}}</a></li>
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container-fluid -->
</nav>